<form [formGroup]="creatingForm" class="create-form">
  <mat-form-field class="outlined-input name" appearance="outline">
    <mat-label>ФИО пациента</mat-label>
    <input matInput formControlName="patient" placeholder="Имя пациента">
  </mat-form-field>
  <mat-form-field class="outlined-input doctor" appearance="outline">
    <mat-label>Доктор</mat-label>
    <mat-select #selectDoctor formControlName="doctorId"  >
      <mat-option value="" >Не выбран</mat-option>
      <mat-option *ngFor="let doctor of (doctorService?.doctorsList | async)" [value]="doctor.id">
        {{doctor.fullname}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="outlined-input date" appearance="outline">
    <mat-label>Дата приема</mat-label>
    <input
      matInput formControlName="ordersdate"
      [min]="dateLimit.min"
      [max]="dateLimit.max"
      [matDatepicker]="picker" >
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker [opened]="isDatePickerOpen"></mat-datepicker>
  </mat-form-field>
  <mat-form-field class="outlined-input complaints" appearance="outline">
    <mat-label>Жалобы</mat-label>
    <input matInput formControlName="complaints" placeholder="Введите жалобы">
  </mat-form-field>
  <div class="creating-button">
    <button (click)="onSubmit()" [disabled]="creatingForm?.invalid || (mainService.isLoading | async)" mat-raised-button>
      Отправить
    </button>
  </div>
</form>
