<form [formGroup]="creatingForm">
  <mat-form-field appearance="fill">
    <mat-label>Имя</mat-label>
    <input matInput formControlName="name" placeholder="Имя пациента">
  </mat-form-field>
  <!-- <mat-form-field appearance="fill">
    <mat-label>Доктор</mat-label>
    <mat-select formControlName="doctors">
      <mat-option>--</mat-option>
      <mat-option *ngFor="let doctor of doctors" [value]="doctor">
        {{doctor.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field> -->
  <!-- <mat-form-field appearance="fill">
    <mat-label>Choose a date</mat-label>
    <input matInput formControlName="date" [matDatepicker]="picker">
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker></mat-datepicker>
  </mat-form-field> -->
  <mat-form-field appearance="fill">
    <mat-label>Жалобы</mat-label>
    <input matInput formControlName="complaints" placeholder="Введите жалобы">
  </mat-form-field>
</form>
