* {
  margin: 0;
  padding: 0;
}

.global-header {
  top: 0;
  left: 0;
  height: 10vh;
  width: 100%;
  position: absolute;
  background: #e4e4e4;
  box-shadow: 0 0 15px #555;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-start {
  display: flex;
  height: 100%;
  align-items: center;
}

.header-image {
  height: 80%;
  margin: 0 40px;
}

.header-title {
  font-family: "Ubuntu", sans-serif;
  font-weight: 600;
  width: auto;
  font-size: 3rem;
  text-align: center;
}

.header-button {
  font-family: "Ubuntu", sans-serif;
  margin-right: 20px;
  font-weight: 700;
  font-size: 2rem;
  padding: 10px;
}