@import 'src/styles-variables.scss';

.fill-input {
  div.mat-form-field-flex {
    background-color: $color-primary  !important;
  }
  .mat-hint {
      color: $text-color-primary !important;
  }
}

.outlined-input {
  background-color: transparent !important;
  div.mat-focused {
    color: red !important;
  }
}


.mat-form-field.mat-focused .mat-form-field-ripple {
  background-color: $color-secondary;
}

.mat-form-field-appearance-fill .mat-form-field-flex {
  border-radius: 10px 10px 0 0 !important;
}

.mat-form-field-infix {
  font-size: 1.2rem;
}